Language: Cpp
Standard: Cpp17
BasedOnStyle: Google
IndentWidth: 4
MaxEmptyLinesToKeep: 2
ColumnLimit: 140

# change the public/private keyword indentation form 3 -> 2 spaces
# (default with Google is -1)
AccessModifierOffset: 0
